apiVersion: v1
kind: ConfigMap
metadata:
  name: containerd-gvisor-{{ .Values.config.workergroup }}
  namespace: kube-system
data:
  install-gvisor-containerd.sh: |-
    #!/bin/sh
    BIN_TARGET_DIR="{{ .Values.config.binFolder }}"
    RESTART_CONTAINERD=false

    mkdir -p "/var/host/$BIN_TARGET_DIR"

    cd /var/content

    TARGET_RUNSC="/var/host/$BIN_TARGET_DIR/runsc"
    if [ ! -f "$TARGET_RUNSC" ]; then
      echo "Adding gVisor binary."
      chmod +x runsc
      mv runsc "$TARGET_RUNSC"
    elif diff runsc "$TARGET_RUNSC"  > /dev/null; then
      echo "gVisor binary up to date."
    else
      echo "Updating gVisor binary."
      chmod +x runsc
      mv runsc "$TARGET_RUNSC"
    fi

    TARGET_SHIM="/var/host/$BIN_TARGET_DIR/containerd-shim-runsc-v1"
    if [ ! -f "$TARGET_SHIM" ]; then
      echo "Adding shim binary."
      chmod +x containerd-shim-runsc-v1
      mv containerd-shim-runsc-v1 "$TARGET_SHIM"
    elif diff containerd-shim-runsc-v1 "$TARGET_SHIM"  > /dev/null; then
      echo "Shim binary up to date."
    else
      echo "Updating shim binary."
      chmod +x containerd-shim-runsc-v1
      # shim is a long running process. Will only use new shim, when old shim stopped.
      # killing the shim is not an option, as it kills its containers
      mv containerd-shim-runsc-v1 "$TARGET_SHIM"
    fi

    # configuring containerd config file for gVisor
    FILENAME=/var/host/etc/containerd/config.toml

    # containerd config file has multiple versions, depending on containerd version a different config format is used 
    # which in turn has different config property names
    #    containerd2.1 uses version=3 by default
    #    containerd1.7 uses version=2 by default
    #
    # If no version is specified, assume version=1 is used (see https://containerd.io/releases/#daemon-configuration)
    CONFIG_VERSION=$(grep -m1 -E '^version *= *[0-9]+' "$FILENAME" | awk -F '=' '{ gsub(/ /, "", $2); print $2 }')

    if ! grep -q containerd.runtimes.runsc "$FILENAME"; then
      case "$CONFIG_VERSION" in
        2)
          echo "Containerd config version 2 detected."
          PROPERTY_RUNSC_NAME='[plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runsc]'
          PROPERTY_RUNSC_OPTIONS_NAME='[plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runsc.options]'
          ;;
        3)
          echo "Containerd config version 3 detected."
          PROPERTY_RUNSC_NAME='[plugins."io.containerd.cri.v1.runtime".containerd.runtimes.runsc]'
          PROPERTY_RUNSC_OPTIONS_NAME='[plugins."io.containerd.cri.v1.runtime".containerd.runtimes.runsc.options]'
          ;;
        *)
          echo "Containerd config version 1 assumed."
          PROPERTY_RUNSC_NAME="[plugins.cri.containerd.runtimes.runsc]"
          PROPERTY_RUNSC_OPTIONS_NAME="[plugins.cri.containerd.runtimes.runsc.options]"
          ;;
      esac

      # Appending gvisor configs to /etc/containerd/config.toml.
      #
      # In TOML, keys can appear multiple times and are merged by section.
      # Appending these keys is valid as long as they are under the correct header.
      # See: https://toml.io/en/v1.0.0#table
      #
      # Indentation is treated as whitespace and ignored 
      # See: https://toml.io/en/v1.0.0)
      cat <<EOF >> "$FILENAME"
      ${PROPERTY_RUNSC_NAME}
      runtime_type = "io.containerd.runsc.v1"
      ${PROPERTY_RUNSC_OPTIONS_NAME}
      TypeUrl = "io.containerd.runsc.v1.options"
      ConfigPath = "/etc/containerd/runsc.toml"
    EOF

      RESTART_CONTAINERD=true

    else
      echo "Containerd already configured for gvisor."
    fi

    if [ ! -f /var/host/etc/containerd/runsc.toml ]; then
      cat <<EOF > /var/host/etc/containerd/runsc.toml
    [runsc_config]
    EOF
    fi

    RUNSC_TOML_MD5SUM_INITIAL=$(md5sum /var/host/etc/containerd/runsc.toml)

    cat <<EOF > /var/host/etc/containerd/runsc.toml
    [runsc_config]
    {{ .Values.config.configFlags | indent 6 }}
    EOF

    # Restart containerd if runsc.toml was updated
    RUNSC_TOML_MD5SUM_FINAL=$(md5sum /var/host/etc/containerd/runsc.toml)
    if [ "$RUNSC_TOML_MD5SUM_INITIAL" != "$RUNSC_TOML_MD5SUM_FINAL" ]; then
      echo "runsc.toml updated."
      RESTART_CONTAINERD=true
    fi

    if [ "$RESTART_CONTAINERD" = true ]; then
      echo "Restarting containerd."
      chroot /var/host bash -c "systemctl restart containerd"
    fi

    echo "Task completed, sleeping ..."
    while true; do
      sleep 3600;
    done
