/.kube-secrets
/tmp
/dev
/local
**/dev
/bin
hack/tools/bin

*.coverprofile
*.html
.cache_ggshield

.vscode
.idea
.DS_Store
*~

TODO

# Virtual go & fuse
.virtualgo
.fuse_hidden*

# gosec
gosec-report.sarif
